.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 20px;
    background-color: #e85d04;
    color: #fff;
    padding: 1rem;
  }
  
  .navbar-brand a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  
  .navbar-brand> a>img{
    width:70px ;
    border-radius: 15px;
    margin-left: 50px;
  }
  .search-bar input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }